.App {
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
    background-color: dimgrey;
}

.set {
    border: 1px double goldenrod;
    border-radius: 15px;
    padding: 10px;
}

.setBorder {
    border: 1px double gold;
    border-radius: 15px;
    padding: 5px;
}

.borderButton {
    border: 1px double gold;
    border-radius: 15px;
    padding: 5px;
}


.input {
    border-radius: 8px;
    height: 30px;
    width: 150px;
    border: 1px solid burlywood;
    background-color: antiquewhite;
}

.errorClass {
    border: 1px solid red;
    background: red;
}

.generalDisplay {
    border: 1px double goldenrod;
    border-radius: 15px;
    padding: 10px;
}

.buttonOfGeneralDisplay {
    border: 1px double gold;
    border-radius: 15px;
    padding: 20px 5px 5px 5px;
    display: flex;
    justify-content: center;
    height: 80px;
}
.regularClass{
    padding-left: 40px;
    color: burlywood;
}

.red {
    color: red;
    padding-left: 40px;
}


.borderOfDisplay {
    border: 1px double gold;
    border-radius: 15px;
    padding: 5px;
}